.main_page_wrapper{
    overflow: hidden;
    position: fixed;
    right: 0px;

    width:85%;
    height:100%;

    background-image: linear-gradient(to bottom right, rgb(9, 142, 219), rgb(245, 131, 0));

}

.daily_overview_wrapper{
    position: relative;

    width:95%;
    height:72.5%;
    margin-top: 1.25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1.25%;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
}

.history_wrapper{
    position: relative;
    margin-top: 1.25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1.25%;
    border-radius: 5%;
    width:95%;
    height:22.5%;

    background-color: rgb(255, 255, 255);
}