.daily_overview_page_wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}
.progress_components_wrapper{
    margin: 2%;
    width: 46%;
    height: 92%;
    border-radius: 3%;
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    background-color: rgb(231, 231, 231);
}
.progress_bar_size{
    position: relative;
    bottom: 4%;
    width: 60%;
    height: 60%;
}
.progress_statistics{
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 20%;
    background-color: white;
}
.calories_consumed_wrapper{
    position: absolute;
    left: 2%;
    width: 30%;

}
.calories_consumed_text{
    position: absolute;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;

}
.calories_consumed_number{
    position: absolute;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    margin-top: 12%;
    color: rgb(0, 132, 255);
    font-weight: 700;
}

.calories_remaining_wrapper{
    position: absolute;
    left: 40%;
    width: 30%;

}
.calories_remaining_text{
    position: absolute;
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
}
.calories_remaining_number{
    position: absolute;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    margin-top: 12%;
    color: rgb(0, 132, 255);
    font-weight: 700;
}

.calorie_goal_summary_wrapper{
    position: relative;
    top: 60%;
    font-size: 1.5rem;
}
.calorie_goal_summary_over{
    font-weight: 600;
    color: rgb(221, 12, 12);
}
.calorie_goal_summary_under{
    font-weight: 600;
    color: rgb(12, 221, 12);
}